<!-- Section: Blog v.1 -->
<div class="rgba-cyan-slight">
  <br>
  <section class="my-5 mx-5 ">

    <!-- Section heading -->
    <h2 class="h1-responsive font-weight-bold text-center my-5">Temas científicos</h2>
    <!-- Section description -->
    <h4 class="text-center w-responsive mx-auto mb-5 grey-text">
      Se definieron los siguientes tres temas generales de investigación durante el taller de formulación de proyectos
      realizado en Quito:
    </h4>

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-lg-5">

        <!-- Featured image -->
        <div class="view overlay rounded z-depth-2 mb-lg-0 mb-4 waves-light" mdbWavesEffect>
          <img class="img-fluid" src="/assets/img/img1.jpg" alt="Sample image">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-lg-7">


        <h3 class="font-weight-bold mb-3"><strong>Problemas de distribución e interdependencia de actores con respecto a
            la provisión y demanda de servicios hidrológicos</strong></h3>

        <p class="text-justify grey-text">El objetivo principal del tema # 1 será realizar una valoración integrada e inclusiva de
          los servicios
          ecosistémicos relacionados con el suelo y el agua para la gestión sostenible del paisaje explorando más a
          fondo la dimensión social de la ES, teniendo en cuenta las relaciones de poder y socioecológica.
          Interdependencias entre actores locales. Durante los primeros 6 meses del proyecto, se contratará un
          científico social para realizar el mapeo de las partes interesadas. Tras los análisis de las partes
          interesadas, un proyecto de investigación de maestría analizará las interdependencias sociales e identificará
          las relaciones de poder a través del análisis de redes sociales. Se prestará especial atención a la
          identificación de compensaciones y sinergias entre los SE y las partes interesadas. Una beca para este
          proyecto de maestría se ofrecerá al personal de uno de los socios no académicos, para mejorar la
          co-construcción de la investigación con las partes interesadas. Para la formulación de los proyectos de
          maestría, se adoptará una postura reflexiva, adaptando los objetivos de investigación de acuerdo con las
          necesidades e intereses de las partes interesadas.</p>


      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

    <hr class="my-5">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-lg-7">

        <h3 class="font-weight-bold mb-3"><strong>Cuantificación de la formación y desarrollo de suelos en ecosistemas
            de páramo</strong></h3>

        <p class="text-justify grey-text">Los análisis fisicoquímicos y mineralógicos del material del suelo, y las mediciones de
          la concentración de
          isótopos radiactivos nos permitirán establecer un balance de masa de la producción in situ, la erosión y la
          meteorización del suelo. Nuestras catenas de suelo serán seleccionadas en laderas con roca subyacente
          uniforme. Las variaciones en la composición mineralógica del suelo y las proporciones de elementos a lo largo
          de la catena del suelo son en gran medida el resultado de cambios en el drenaje del suelo, la permeabilidad y
          la erosión. Nuestras catenas de suelo de referencia proporcionarán valores "de referencia" de la formación del
          suelo, el clima y las tasas de erosión en los ecosistemas de páramo. Una comparación de las intensidades de
          intemperie medidas y las tasas de erosión del suelo con estos valores de "referencia" nos permitirá
          cuantificar el impacto de las actividades humanas en los flujos de nutrientes y partículas del suelo en el
          sistema del suelo.</p>



      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-lg-5">

        <!-- Featured image -->
        <div class="view overlay rounded z-depth-2 waves-light" mdbWavesEffect>
          <img class="img-fluid" src="/assets/img/img2.jpg" alt="Sample image">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

    <hr class="my-5">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-lg-5">

        <!-- Featured image -->
        <div class="view overlay rounded z-depth-2 mb-lg-0 mb-4 waves-light" mdbWavesEffect>
          <img class="img-fluid" src="/assets/img/img3.jpg" alt="Sample image">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-lg-7">


        <h3 class="font-weight-bold mb-3"><strong>Interacciones del proceso agua-suelo en un contexto de
            paisaje.</strong></h3>
        <!-- Excerpt -->
        <p class="text-justify grey-text">Los sistemas de suelo ejercen importantes controles sobre los flujos de agua, sedimentos y nutrientes en la
          escala de captación. Para evaluar el impacto del clima y el uso de la tierra en la regulación del flujo y la
          calidad del agua, es necesario establecer los flujos de productos de intemperie que resultan de la intemperie
          del suelo in situ que está abandonando el sistema de suelo / captación. Esto requiere medir tanto las
          descargas de agua que salen del sistema del suelo como la concentración de productos de intemperismo, coloides
          y partículas del suelo en el agua (Lloret et al., 2013). Las interacciones suelo-agua se modelarán primero en
          resolución 1D, centrándose en cuantificar los flujos verticales de agua y nutrientes; y posteriormente se
          integrará en un modelo 2D. Los datos hidrológicos de referencia a una resolución temporal alta durante dos
          años consecutivos están disponibles para nuestros sitios de estudio. Estos serán utilizados para calibrar
          modelos hidrológicos.</p>
        
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->
    <br>

  </section>
  <!-- Section: Blog v.1 -->
</div>