

<br>



<!--Section: Features v.1-->
<section class="text-center rgba-cyan-slight ">

    <!--Section heading-->
    <h2 class="h1 py-5 font-weight-bold">Objetivos específicos</h2>
    <!--Section description-->
    
    <p class="px-5 mb-2 pb-3 lead grey-text text-justify">En marzo de 2016, se llevó a cabo un taller en Quito para
        identificar las
        necesidades y los desafíos específicos relacionados con la gestión sostenible de los servicios de los
        ecosistemas de agua dulce en los ecosistemas de páramo. </p>
    <p class="px-5 mb-2 pb-3 lead grey-text text-justify">Para poder abordar adecuadamente la sostenibilidad ambiental
        en la
        planificación del desarrollo de los ecosistemas de los Andes Altos, postulamos que las interacciones entre el
        suelo, el agua y la vegetación en diferentes escalas temporales y espaciales deben investigarse exhaustivamente
        en los sitios donde la historia de las intervenciones humanas está bien documentada. </p>
    <p class="px-5 mb-2 pb-3 lead grey-text text-justify">Esto permitirá la generación de la tan necesaria información
        basada en la
        evidencia. Dado el creciente interés en la conservación y restauración de los ecosistemas del páramo altoandino,
        el proyecto no solo estudiará la degradación de los suelos del páramo como resultado de la agricultura y la
        intensificación del pastoreo, sino que también investigará la restauración activa y pasiva de los suelos del
        páramo degradados. </p>
    <p class="px-5 mb-5 pb-3 lead font-weight-bold grey-text ">Durante el taller, se identificaron cuatro problemas
        específicos:</p>

    <!--Grid row-->
    <div class="row">

        <!--Grid column-->
        <div class="col-md-3">

            <i class="fas fa-sync-alt fa-3x red-text"></i>

            <p class="grey-text mt-3 text-justify">Existe un intercambio muy limitado de conocimientos y experiencias
                entre socios académicos, instituciones públicas, empresas públicas y actores sociales involucrados en la
                gestión
                ambiental de los ecosistemas de páramo.
            </p>
        </div>



        
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-3">

            <i class="fas fa-question fa-3x cyan-text"></i>

            <p class="grey-text mt-3 text-justify">Varios aspectos de las interacciones suelo-agua-planta en ambientes
                de páramo no se comprenden a un nivel fundamental.
            </p>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-3">

            <i class="fas fa-clipboard-list fa-3x orange-text"></i>

            <p class="grey-text  mt-3 text-justify">Los protocolos de monitoreo y análisis no están estandarizados ni
                validados en las
                instituciones de investigación.
            </p>
        </div>
        <!--Grid column-->
        <div class="col-md-3">

            <i class="fas fa-database fa-3x green-text"></i>

            <p class="grey-text  mt-3 text-justify">Hay escasez de datos ambientales de referencia de evaluaciones
                basadas en el campo.
            </p>
        </div>
    </div>
    <!--Grid row-->

</section>
<!--Section: Features v.1-->




