<!-- Main navigation -->
<!--Section: Features v.3-->
<section class=" fadeInUpBig animated">

    <!--Section heading-->
    <h2 class="h1 py-5 font-weight-bold text-center" *ngIf="!show">Resumen del proyecto</h2>
    <h2 class="h1 py-5 font-weight-bold text-center" *ngIf="show">Project summary</h2>
    <!--Section description-->


    <!--Grid row-->
    <div class="row pt-2">

        <!--Grid column-->
        <div class="col-lg-5  text-center">
            <img src="./assets/img/IMG_1104.JPG" alt="" class=" z-depth-4">
            <img src="./assets/img/IMG_1183.JPG" alt="" class=" z-depth-4">

        </div>
        <!--Grid column-->


        <!--Grid column-->
        <div class="col-lg-7">

            <!--Grid row-->
            <div class="row pb-3">

                <div class="col-10" *ngIf="!show">

                    <h5 class="font-weight-bold text-left mb-3 dark-grey-text">Antecedentes</h5>
                    <p class="grey-text  text-justify">
                        En marzo de 2016, se llevó a cabo un taller en Quito para
                        identificar las
                        necesidades y los desafíos específicos relacionados con la gestión sostenible de los servicios
                        de los
                        ecosistemas de agua dulce en los ecosistemas de páramo.

                    </p>

                    <p class="grey-text  text-justify">Para poder abordar adecuadamente la sostenibilidad ambiental
                        en la
                        planificación del desarrollo de los ecosistemas de los Andes Altos, postulamos que las
                        interacciones entre el
                        suelo, el agua y la vegetación en diferentes escalas temporales y espaciales deben investigarse
                        exhaustivamente
                        en los sitios donde la historia de las intervenciones humanas está bien documentada. </p>
                </div>


                <div class="col-10" *ngIf="show">

                    <h5 class="font-weight-bold text-left mb-3 dark-grey-text">Background</h5>
                    <p class="grey-text  text-justify">
                        In March 2016, a workshop was held in Quito to identify the specific needs and challenges
                        related to sustainable management of freshwater ecosystem services in páramo ecosystems.

                    </p>

                    <p class="grey-text  text-justify">In order to adequately address environmental sustainability in
                        development planning of the High Andes ecosystems, we postulate that interactions between soil,
                        water and vegetation across different temporal and spatial scales must be thoroughly
                        investigated at sites where the history of human interventions is well documented </p>
                </div>


            </div>
            <!--Grid row-->

            <!--Grid row-->
            <div class="row pb-3" *ngIf="!show">

                <div class="col-10">
                    <h5 class="font-weight-bold text-left mb-3 dark-grey-text">Objetivo</h5>
                    <p class="grey-text  text-justify">Contribuir a la gestión sostenible de los
                        ecosistemas mediante el fortalecimiento de la investigación basada en la evidencia sobre la
                        conservación y restauración de los suelos de páramo, y sobre su función vital de regulación
                        hidrológica en los Andes. </p>
                </div>



            </div>




            <div class="row pb-3" *ngIf="show">

                <div class="col-10">
                    <h5 class="font-weight-bold text-left mb-3 dark-grey-text">Objective</h5>
                    <p class="grey-text  text-justify">The project will contribute to sustainable ecosystem management
                        by strengthening evidence-based research
                        on conservation and restoration of páramo soils, and on their vital hydrological regulation
                        function in
                        the High Andes </p>
                </div>
            </div>
            <!--Grid row-->

            <!--Grid row-->
            <div class="row pb-3" *ngIf="!show">


                <div class="col-10">
                    <h5 class="font-weight-bold text-left mb-3 dark-grey-text">Sinergias</h5>
                    <p class="grey-text text-justify">Este enfoque proporcionará la base para fomentar la
                        coordinación, el
                        intercambio de datos y la implementación de actividades de investigación específicas. A su
                        vez,
                        esto mejorará significativamente el diálogo interdisciplinario, la colaboración y la
                        sinergia
                        entre los científicos y las partes interesadas en la sostenibilidad ambiental en los Andes.
                    </p>

                </div>



            </div>
            <div class="row pb-3" *ngIf="show">


                <div class="col-10">
                    <h5 class="font-weight-bold text-left mb-3 dark-grey-text">Synergies</h5>
                    <p class="grey-text text-justify"> This approach will provide the basis for fostering
                        coordination, data sharing and implementation of specific research activities. In turn,
                        this will significantly improve the interdisciplinary dialogue, collaboration and
                        synergy between scientists and stakeholders interested in environmental sustainability
                        in the High Andes.</p>
                </div>


            </div>


        </div>
    </div>
    <!--Grid row-->

</section>
<!--Section: Features v.3-->