


<!-- Section: Team v.1 -->
<section class="team-section text-center my-5  rgba-teal-slight">

  <br>

  <!-- Section heading -->
  <h2 class="h1-responsive font-weight-bold my-5">Actores no académicos</h2>
  <!-- Section description -->
  

  <!-- Grid row -->
  <div class="row">
      <div class="col-lg-2 col-md-6 mb-lg-0 mb-5"></div>
      <!-- Grid column -->
      <div class="col-lg-2 col-md-6 mb-lg-0 mb-5">
          <div class="avatar mx-auto">
              <img src="https://www.iagua.es/sites/default/files/logo_epmaps_0.jpg" class="rounded-circle z-depth-1"
                  alt="Sample avatar">
          </div>
          <h5 class="font-weight-bold mt-4 mb-3">EPMAPS</h5>

          <ul class="list-unstyled mb-0">
              <!-- Facebook -->
              <a class="p-2 fa-lg fb-ic">
                  <i class="fab fa-facebook-f blue-text"> </i>
              </a>
              <!-- Twitter -->
              <a class="p-2 fa-lg tw-ic">
                  <i class="fab fa-twitter blue-text"> </i>
              </a>
              <!-- Instagram -->
              <a class="p-2 fa-lg ins-ic">
                  <i class="fab fa-instagram blue-text"> </i>
              </a>
          </ul>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-lg-2 col-md-6 mb-lg-0 mb-5">
          <div class="avatar mx-auto">
              <img src="https://yt3.ggpht.com/a-/AAuE7mDq1_r7qmEh338QWvPv9n5UkgZVJK-OczC_=s900-mo-c-c0xffffffff-rj-k-no"
                  class="rounded-circle z-depth-1" alt="Sample avatar">
          </div>
          <h5 class="font-weight-bold mt-4 mb-3">FONAG</h5>

          <ul class="list-unstyled mb-0">
              <!-- Facebook -->
              <a class="p-2 fa-lg fb-ic">
                  <i class="fab fa-facebook-f blue-text"> </i>
              </a>
              <!-- Instagram -->
              <a class="p-2 fa-lg ins-ic">
                  <i class="fab fa-instagram blue-text"> </i>
              </a>
          </ul>











          
      </div>
      <!-- Grid column -->
















      

      <!-- Grid column -->
      <div class="col-lg-2 col-md-6 mb-md-0 mb-5">
          <div class="avatar mx-auto">
              <img src="https://pbs.twimg.com/profile_images/973934248041304071/_oND_YdD_400x400.jpg"
                  class="rounded-circle z-depth-1" alt="Sample avatar">
          </div>
          <h5 class="font-weight-bold mt-4 mb-3">ETAPA EP</h5>

          <ul class="list-unstyled mb-0">
              <!-- Facebook -->
              <a class="p-2 fa-lg fb-ic">
                  <i class="fab fa-facebook-f blue-text"> </i>
              </a>
              <!-- Instagram -->
              <a class="p-2 fa-lg ins-ic">
                  <i class="fab fa-instagram blue-text"> </i>
              </a>
              <!-- Dribbble -->
              <a class="p-2 fa-lg ins-ic">
                  <i class="fab fa-dribbble blue-text"> </i>
              </a>
          </ul>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-lg-2 col-md-6">
          <div class="avatar mx-auto">
              <img src="http://www.complicefm.com/noticias/fotos/4067.jpg" class="rounded-circle z-depth-1"
                  alt="Sample avatar">
          </div>
          <h5 class="font-weight-bold mt-4 mb-3">ELECAUSTRO S.A.</h5>

          <ul class="list-unstyled mb-0">
              <!-- Facebook -->
              <a class="p-2 fa-lg fb-ic">
                  <i class="fab fa-facebook-f blue-text"> </i>
              </a>
              <!-- Github -->
              <a class="p-2 fa-lg ins-ic">
                  <i class="fab fa-github blue-text"> </i>
              </a>
          </ul>
      </div>
      <!-- Grid column -->

  </div>
  <!-- Grid row -->
  <br>
  <br>

</section>
<!-- Section: Team v.1 -->


















