<!-- Section: Team v.1 -->
<section class="team-section text-center my-5  rgba-teal-slight">

    <br>

    <!-- Section heading -->
    <h2 class="h1-responsive font-weight-bold my-5">Actores no académicos</h2>
    <!-- Section description -->


    <!-- Grid row -->
    <div class="row">
        <div class="col-lg-2 col-md-6 mb-lg-0 mb-5"></div>
        <!-- Grid column -->
        <div class="col-lg-2 col-md-6 mb-lg-0 mb-5">
            <div class="avatar mx-auto">
                <img src="assets/img/epmaps.jpg" class="rounded-circle z-depth-1" alt="Sample avatar">
            </div>
            <h5 class="font-weight-bold mt-4 mb-3">EPMAPS</h5>

            <ul class="list-unstyled mb-0">
                <!-- Facebook -->
                <a class="p-2 fa-lg fb-ic" href="https://www.facebook.com/pages/EPMAPS/129841463764542">
                    <i class="fab fa-facebook-f blue-text"> </i>
                </a>
                <!--Email-->
                <a type="button" mdbBtn floating="true" size="sm" class="mx-1 mb-0 btn-email"
                    href="https://www.aguaquito.gob.ec/">
                    <i class="fab fa-dribbble"></i>
                </a>

            </ul>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-lg-2 col-md-6 mb-lg-0 mb-5">
            <div class="avatar mx-auto">
                <img src="assets/img/fonag.jpg" class="rounded-circle z-depth-1" alt="Sample avatar">
            </div>
            <h5 class="font-weight-bold mt-4 mb-3">FONAG</h5>

            <ul class="list-unstyled mb-0">


                <!--Email-->


                <a class="p-2 fa-lg ins-ic" href="http://www.fonag.org.ec/web/?lang=en">
                    <i class="fab fa-dribbble blue-text"> </i>
                </a>
            </ul>












        </div>
        <!-- Grid column -->


















        <!-- Grid column -->
        <div class="col-lg-2 col-md-6 mb-md-0 mb-5">
            <div class="avatar mx-auto">
                <img src="assets/img/etapa.png" class="rounded-circle z-depth-1" alt="Sample avatar">
            </div>
            <h5 class="font-weight-bold mt-4 mb-3">ETAPA EP</h5>

            <ul class="list-unstyled mb-0">

                <!-- Dribbble -->
                <a class="p-2 fa-lg ins-ic" href="https://www.etapa.net.ec/">
                    <i class="fab fa-dribbble blue-text"> </i>
                </a>
            </ul>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-lg-2 col-md-6">
            <div class="avatar mx-auto">
                <img src="assets/img/elec.gif" class="rounded-circle z-depth-1" alt="Sample avatar">
            </div>
            <h5 class="font-weight-bold mt-4 mb-3">ELECAUSTRO S.A.</h5>

            <a class="p-2 fa-lg ins-ic" href="http://www.elecaustro.com.ec/">
                <i class="fab fa-dribbble blue-text"> </i>
            </a>
        </div>
        <!-- Grid column -->

    </div>
    <!-- Grid row -->
    <br>
    <br>

</section>
<!-- Section: Team v.1 -->