<section class="text-center pb-3 my-5" *ngIf="!ingles">
    <!--Section heading-->
    <h2 class="h1 py-5">Colaboradores</h2>
    <!--Section description-->


    <!--Carousel Wrapper-->
    <mdb-carousel [isControls]="true" class="carousel-multi-item multi-animation" [type]="'carousel-multi-item'"
        [animation]="'slide'">
        <!--First slide-->
        <mdb-slide>
            <!-- Grid column -->

            <div class="col-lg-4 col-md-6 mb-lg-0 mb-5 offset-md-2">
                <div class="avatar mx-auto">
                    <img src="/assets/img/Veerle.jpg" class="rounded-circle z-depth-2" alt="Sample avatar">
                </div>
                <h5 class="font-weight-bold mt-4 mb-3">Veerle Vanacker
                </h5>
                <p class="text-uppercase blue-text">
                    <strong>Coordinadora norte</strong>
                </p>
                <p class="grey-text">Interacciones hombre-paisaje en el antropoceno</p>
                <p class="black-text">Université Catholique de Louvain</p>
                <ul class="list-unstyled mb-0">

                    <a class="fa-lg" href="https://www.researchgate.net/profile/Veerle_Vanacker">
                        <mdb-icon fab icon="researchgate  blue-text"></mdb-icon>
                    </a>
                </ul>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-lg-4 col-md-6 mb-lg-0 mb-5">
                <div class="avatar mx-auto">
                    <img src="/assets/img/Marcos.jpg" class="rounded-circle z-depth-1" alt="Sample avatar">
                </div>
                <h5 class="font-weight-bold mt-4 mb-3 offset-md-2">Marcos Villacis</h5>
                <p class="text-uppercase blue-text">
                    <strong>Coordinador sur</strong>

                </p>

                <p class="grey-text">Cambio climático e hidrología</p>
                <p class="black-text">Escuela Politécnica Nacional</p>
                <ul class="list-unstyled mb-0">
                    <a class="fa-lg" href="https://www.researchgate.net/profile/Veerle_Vanacker">
                        <mdb-icon fab icon="researchgate  blue-text"></mdb-icon>
                    </a>
                </ul>
            </div>



        </mdb-slide>
        <!--/First slide-->
        <!--Second slide-->
        <mdb-slide>
            <!-- Grid column -->
            <!-- Grid column -->
            <div class="col-lg-2 col-md-6 mb-lg-0 mb-5">
                <div class="avatar mx-auto">
                    <img src="/assets/img/Pierre.jpg" class="rounded-circle z-depth-2" alt="Sample avatar">
                </div>
                <h5 class="font-weight-bold mt-4 mb-3">Pierre Delmelle</h5>
                <p class="text-uppercase blue-text">
                    <strong>Co-PI de ER2</strong>
                </p>
                <p class="grey-text">Geoquímica de suelos volcánicos</p>
                <p class="black-text">Université Catholique de Louvain</p>
                <ul class="list-unstyled mb-0">
                    <a href="https://www.researchgate.net/profile/Ernesto_De_La_Torre">
                        <mdb-icon fab icon="researchgate  blue-text" class="p-2 fa-lg fb-ic">
                        </mdb-icon>
                    </a>
                </ul>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-lg-2 col-md-6 mb-lg-0 mb-5">
                <div class="avatar mx-auto">
                    <img src="/assets/img/Ernesto.jpg" class="rounded-circle z-depth-2" alt="Sample avatar">
                </div>
                <h5 class="font-weight-bold mt-4 mb-3">Ernesto De La Torre</h5>
                <p class="text-uppercase blue-text">
                    <strong>Director del laboratorio geoquimico en el DEMEX.</strong>
                </p>
                <p class="grey-text">Geoquímica de rocas y sedimentos</p>
                <p class="black-text">Escuela Politécnica Nacional</p>
                <ul class="list-unstyled mb-0">

                    <a class="p-2 fa-lg fb-ic" href="https://www.researchgate.net/profile/Ernesto_De_La_Torre">
                        <mdb-icon fab icon="researchgate  blue-text"></mdb-icon>
                    </a>
                </ul>
            </div>
            <div class="col-lg-2 col-md-6 mb-lg-0 mb-5">
                <div class="avatar mx-auto">
                    <img src="/assets/img/nicolas.jpg" class="rounded-circle z-depth-2" alt="Sample avatar">
                </div>
                <h5 class="font-weight-bold mt-4 mb-3">Nicolas Dendoncker
                </h5>
                <p class="text-uppercase blue-text">
                    <strong>PI of ER4</strong>
                </p>
                <p class="grey-text">Social dimension of Ecosystem services valuation; Socioecological interpendencies
                </p>
                <p class="black-text">Université de Namur</p>
                <ul class="list-unstyled mb-0">

                    <a class="fa-lg" href="https://www.researchgate.net/profile/N_Dendoncker">
                        <mdb-icon fab icon="researchgate  blue-text"></mdb-icon>
                    </a>
                </ul>
            </div>
            <div class="col-lg-2 col-md-6 mb-lg-0 mb-5">
                <div class="avatar mx-auto">
                    <img src="/assets/img/Felipe.jpg" class="rounded-circle z-depth-2" alt="Sample avatar">
                </div>
                <h5 class="font-weight-bold mt-4 mb-3">Felipe Cisneros
                </h5>
                <p class="text-uppercase blue-text">
                    <strong>Director of hydrological and soil physical laboratories at Ucuenca</strong>
                </p>
                <p class="grey-text">Water resources management
                </p>
                <p class="black-text">Universidad de Cuenca</p>
                <ul class="list-unstyled mb-0">

                    <a class="fa-lg" href="https://www.researchgate.net/profile/Felipe_Cisneros">
                        <mdb-icon fab icon="researchgate  blue-text"></mdb-icon>
                    </a>
                </ul>
            </div>
            <div class="col-lg-2 col-md-6 mb-lg-0 mb-5">
                <div class="avatar mx-auto">
                    <img src="/assets/img/persona.png" class="rounded-circle z-depth-2" alt="Sample avatar">
                </div>
                <h5 class="font-weight-bold mt-4 mb-3">Diego Mora
                </h5>
                <p class="text-uppercase blue-text">
                    <strong>PI of ER1; Co-PI of ER3 </strong>
                </p>
                <p class="grey-text">Climate change and impact on surface hydrology
                </p>
                <p class="black-text">Universidad de Cuenca</p>
                <ul class="list-unstyled mb-0">

                </ul>
            </div>
            <div class="col-lg-2 col-md-6 mb-lg-0 mb-5">
                <div class="avatar mx-auto">
                    <img src="/assets/img/persona.png" class="rounded-circle z-depth-2" alt="Sample avatar">
                </div>
                <h5 class="font-weight-bold mt-4 mb-3">Alicia Guevara
                </h5>
                <p class="text-uppercase blue-text">
                    <strong>Responsable for soil and rock chemical and mineralogical analyses at DEMEX
                    </strong>
                </p>
                <p class="grey-text">Soil and rock chemistry</p>
                <p class="black-text">Escuela Politecnica Nacional</p>
                <ul class="list-unstyled mb-0">

                    <a class="fa-lg" href="https://www.researchgate.net/profile/Alicia_Guevara">
                        <mdb-icon fab icon="researchgate  blue-text"></mdb-icon>
                    </a>
                </ul>
            </div>
        </mdb-slide>
        <!--/Second slide-->
        <!--Third slide-->
        <mdb-slide>
            <div class="col-lg-2 col-md-6 mb-lg-0 mb-5">
                <div class="avatar mx-auto">
                    <img src="/assets/img/Veerle.jpg" class="rounded-circle z-depth-2" alt="Sample avatar">
                </div>
                <h5 class="font-weight-bold mt-4 mb-3">Veerle Vanacker
                </h5>
                <p class="text-uppercase blue-text">
                    <strong>Coordinadora norte</strong>
                </p>
                <p class="grey-text">Interacciones hombre-paisaje en el antropoceno</p>
                <p class="black-text">Université Catholique de Louvain</p>
                <ul class="list-unstyled mb-0">

                    <a class="fa-lg" href="https://www.researchgate.net/profile/Veerle_Vanacker">
                        <mdb-icon fab icon="researchgate  blue-text"></mdb-icon>
                    </a>
                </ul>
            </div>
            <div class="col-lg-2 col-md-6 mb-lg-0 mb-5">
                <div class="avatar mx-auto">
                    <img src="/assets/img/Veerle.jpg" class="rounded-circle z-depth-2" alt="Sample avatar">
                </div>
                <h5 class="font-weight-bold mt-4 mb-3">Veerle Vanacker
                </h5>
                <p class="text-uppercase blue-text">
                    <strong>Coordinadora norte</strong>
                </p>
                <p class="grey-text">Interacciones hombre-paisaje en el antropoceno</p>
                <p class="black-text">Université Catholique de Louvain</p>
                <ul class="list-unstyled mb-0">

                    <a class="fa-lg" href="https://www.researchgate.net/profile/Veerle_Vanacker">
                        <mdb-icon fab icon="researchgate  blue-text"></mdb-icon>
                    </a>
                </ul>
            </div>
            <div class="col-lg-2 col-md-6 mb-lg-0 mb-5">
                <div class="avatar mx-auto">
                    <img src="/assets/img/Veerle.jpg" class="rounded-circle z-depth-2" alt="Sample avatar">
                </div>
                <h5 class="font-weight-bold mt-4 mb-3">Veerle Vanacker
                </h5>
                <p class="text-uppercase blue-text">
                    <strong>Coordinadora norte</strong>
                </p>
                <p class="grey-text">Interacciones hombre-paisaje en el antropoceno</p>
                <p class="black-text">Université Catholique de Louvain</p>
                <ul class="list-unstyled mb-0">

                    <a class="fa-lg" href="https://www.researchgate.net/profile/Veerle_Vanacker">
                        <mdb-icon fab icon="researchgate  blue-text"></mdb-icon>
                    </a>
                </ul>
            </div>
            <div class="col-lg-2 col-md-6 mb-lg-0 mb-5">
                <div class="avatar mx-auto">
                    <img src="/assets/img/Veerle.jpg" class="rounded-circle z-depth-2" alt="Sample avatar">
                </div>
                <h5 class="font-weight-bold mt-4 mb-3">Veerle Vanacker
                </h5>
                <p class="text-uppercase blue-text">
                    <strong>Coordinadora norte</strong>
                </p>
                <p class="grey-text">Interacciones hombre-paisaje en el antropoceno</p>
                <p class="black-text">Université Catholique de Louvain</p>
                <ul class="list-unstyled mb-0">

                    <a class="fa-lg" href="https://www.researchgate.net/profile/Veerle_Vanacker">
                        <mdb-icon fab icon="researchgate  blue-text"></mdb-icon>
                    </a>
                </ul>
            </div>
            <div class="col-lg-2 col-md-6 mb-lg-0 mb-5">
                <div class="avatar mx-auto">
                    <img src="/assets/img/Veerle.jpg" class="rounded-circle z-depth-2" alt="Sample avatar">
                </div>
                <h5 class="font-weight-bold mt-4 mb-3">Veerle Vanacker
                </h5>
                <p class="text-uppercase blue-text">
                    <strong>Coordinadora norte</strong>
                </p>
                <p class="grey-text">Interacciones hombre-paisaje en el antropoceno</p>
                <p class="black-text">Université Catholique de Louvain</p>
                <ul class="list-unstyled mb-0">

                    <a class="fa-lg" href="https://www.researchgate.net/profile/Veerle_Vanacker">
                        <mdb-icon fab icon="researchgate  blue-text"></mdb-icon>
                    </a>
                </ul>
            </div>
            <div class="col-lg-2 col-md-6 mb-lg-0 mb-5">
                <div class="avatar mx-auto">
                    <img src="/assets/img/Veerle.jpg" class="rounded-circle z-depth-2" alt="Sample avatar">
                </div>
                <h5 class="font-weight-bold mt-4 mb-3">Veerle Vanacker
                </h5>
                <p class="text-uppercase blue-text">
                    <strong>Coordinadora norte</strong>
                </p>
                <p class="grey-text">Interacciones hombre-paisaje en el antropoceno</p>
                <p class="black-text">Université Catholique de Louvain</p>
                <ul class="list-unstyled mb-0">

                    <a class="fa-lg" href="https://www.researchgate.net/profile/Veerle_Vanacker">
                        <mdb-icon fab icon="researchgate  blue-text"></mdb-icon>
                    </a>
                </ul>
            </div>
        </mdb-slide>

    </mdb-carousel>


</section>




<section class="text-center pb-3 my-5" *ngIf="ingles">
    <!--Section heading-->
    <h2 class="h1 py-5">Contributors</h2>
    <!--Section description-->


    <!--Carousel Wrapper-->
    <mdb-carousel [isControls]="true" class="carousel-multi-item multi-animation" [type]="'carousel-multi-item'"
        [animation]="'slide'">
        <!--First slide-->
        <mdb-slide>
            <!-- Grid column -->
            <div class="col-lg-4 col-md-6 mb-lg-0 mb-5 offset-md-2">
                <div class="avatar mx-auto">
                    <img src="/assets/img/Veerle.jpg" class="rounded-circle z-depth-2" alt="Sample avatar">
                </div>
                <h5 class="font-weight-bold mt-4 mb-3">Veerle Vanacker
                </h5>
                <p class="text-uppercase blue-text">
                    <strong>Coordinateur nord </strong>
                </p>
                <p class="grey-text">Human-Landscape interactions in the Anthropocene
                </p>
                <p class="black-text">Université Catholique de Louvain</p>
                <ul class="list-unstyled mb-0">

                    <a class="fa-lg" href="https://www.researchgate.net/profile/Veerle_Vanacker">
                        <mdb-icon fab icon="researchgate  blue-text"></mdb-icon>
                    </a>
                </ul>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-lg-4 col-md-6 mb-lg-0 mb-5">
                <div class="avatar mx-auto">
                    <img src="/assets/img/Marcos.jpg" class="rounded-circle z-depth-1" alt="Sample avatar">
                </div>
                <h5 class="font-weight-bold mt-4 mb-3">Marcos Villacis</h5>
                <p class="text-uppercase blue-text">
                    <strong>Coordinateur sud</strong>

                </p>

                <p class="grey-text">Climate change, and hydrology
                </p>
                <p class="black-text">Escuela Politécnica Nacional</p>
                <ul class="list-unstyled mb-0">
                    <a class="fa-lg" href="https://www.researchgate.net/profile/Veerle_Vanacker">
                        <mdb-icon fab icon="researchgate  blue-text"></mdb-icon>
                    </a>
                </ul>
            </div>




        </mdb-slide>
        <!--/First slide-->
        <!--Second slide-->
        <mdb-slide>
            <!-- Grid column -->
            <!-- Grid column -->
            <div class="col-lg-2 col-md-6 mb-lg-0 mb-5">
                <div class="avatar mx-auto">
                    <img src="/assets/img/Pierre.jpg" class="rounded-circle z-depth-2" alt="Sample avatar">
                </div>
                <h5 class="font-weight-bold mt-4 mb-3">Pierre Delmelle</h5>
                <p class="text-uppercase blue-text">
                    <strong>Co-PI of ER2</strong>
                </p>
                <p class="grey-text">Geochemistry of volcanic soils</p>
                <p class="black-text">Université Catholique de Louvain</p>
                <ul class="list-unstyled mb-0">
                    <a href="https://www.researchgate.net/profile/Ernesto_De_La_Torre">
                        <mdb-icon fab icon="researchgate  blue-text" class="p-2 fa-lg fb-ic">
                        </mdb-icon>
                    </a>
                </ul>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-lg-2 col-md-6 mb-lg-0 mb-5">
                <div class="avatar mx-auto">
                    <img src="/assets/img/Ernesto.jpg" class="rounded-circle z-depth-2" alt="Sample avatar">
                </div>
                <h5 class="font-weight-bold mt-4 mb-3">Ernesto De La Torre</h5>
                <p class="text-uppercase blue-text">
                    <strong>Director of geochemical laboratory at DEMEX</strong>
                </p>
                <p class="grey-text">Geochemistry of rocks and sediments
                </p>
                <p class="black-text">Escuela Politécnica Nacional</p>
                <ul class="list-unstyled mb-0">

                    <a class="p-2 fa-lg fb-ic" href="https://www.researchgate.net/profile/Ernesto_De_La_Torre">
                        <mdb-icon fab icon="researchgate  blue-text"></mdb-icon>
                    </a>
                </ul>
            </div>
            <div class="col-lg-2 col-md-6 mb-lg-0 mb-5">
                <div class="avatar mx-auto">
                    <img src="/assets/img/nicolas.jpg" class="rounded-circle z-depth-2" alt="Sample avatar">
                </div>
                <h5 class="font-weight-bold mt-4 mb-3">Nicolas Dendoncker
                </h5>
                <p class="text-uppercase blue-text">
                    <strong>PI of ER4</strong>
                </p>
                <p class="grey-text">Social dimension of Ecosystem services valuation; Socioecological interpendencies
                </p>
                <p class="black-text">Université de Namur</p>
                <ul class="list-unstyled mb-0">

                    <a class="fa-lg" href="https://www.researchgate.net/profile/N_Dendoncker">
                        <mdb-icon fab icon="researchgate  blue-text"></mdb-icon>
                    </a>
                </ul>
            </div>
            <div class="col-lg-2 col-md-6 mb-lg-0 mb-5">
                <div class="avatar mx-auto">
                    <img src="/assets/img/Felipe.jpg" class="rounded-circle z-depth-2" alt="Sample avatar">
                </div>
                <h5 class="font-weight-bold mt-4 mb-3">Felipe Cisneros
                </h5>
                <p class="text-uppercase blue-text">
                    <strong>Director of hydrological and soil physical laboratories at Ucuenca</strong>
                </p>
                <p class="grey-text">Water resources management
                </p>
                <p class="black-text">Universidad de Cuenca</p>
                <ul class="list-unstyled mb-0">

                    <a class="fa-lg" href="https://www.researchgate.net/profile/Felipe_Cisneros">
                        <mdb-icon fab icon="researchgate  blue-text"></mdb-icon>
                    </a>
                </ul>
            </div>
            <div class="col-lg-2 col-md-6 mb-lg-0 mb-5">
                <div class="avatar mx-auto">
                    <img src="/assets/img/persona.png" class="rounded-circle z-depth-2" alt="Sample avatar">
                </div>
                <h5 class="font-weight-bold mt-4 mb-3">Diego Mora
                </h5>
                <p class="text-uppercase blue-text">
                    <strong>PI of ER1; Co-PI of ER3 </strong>
                </p>
                <p class="grey-text">Climate change and impact on surface hydrology
                </p>
                <p class="black-text">Universidad de Cuenca</p>
                <ul class="list-unstyled mb-0">

                </ul>
            </div>
            <div class="col-lg-2 col-md-6 mb-lg-0 mb-5">
                <div class="avatar mx-auto">
                    <img src="/assets/img/persona.png" class="rounded-circle z-depth-2" alt="Sample avatar">
                </div>
                <h5 class="font-weight-bold mt-4 mb-3">Alicia Guevara
                </h5>
                <p class="text-uppercase blue-text">
                    <strong>Responsable for soil and rock chemical and mineralogical analyses at DEMEX
                    </strong>
                </p>
                <p class="grey-text">Soil and rock chemistry</p>
                <p class="black-text">Escuela Politecnica Nacional</p>
                <ul class="list-unstyled mb-0">

                    <a class="fa-lg" href="https://www.researchgate.net/profile/Alicia_Guevara">
                        <mdb-icon fab icon="researchgate  blue-text"></mdb-icon>
                    </a>
                </ul>
            </div>
        </mdb-slide>
        <!--/Second slide-->
        <!--Third slide-->
        <mdb-slide>
            <div class="col-lg-2 col-md-6 mb-lg-0 mb-5">
                <div class="avatar mx-auto">
                    <img src="/assets/img/Veerle.jpg" class="rounded-circle z-depth-2" alt="Sample avatar">
                </div>
                <h5 class="font-weight-bold mt-4 mb-3">Veerle Vanacker
                </h5>
                <p class="text-uppercase blue-text">
                    <strong>Coordinadora norte</strong>
                </p>
                <p class="grey-text">Interacciones hombre-paisaje en el antropoceno</p>
                <p class="black-text">Université Catholique de Louvain</p>
                <ul class="list-unstyled mb-0">

                    <a class="fa-lg" href="https://www.researchgate.net/profile/Veerle_Vanacker">
                        <mdb-icon fab icon="researchgate  blue-text"></mdb-icon>
                    </a>
                </ul>
            </div>
            <div class="col-lg-2 col-md-6 mb-lg-0 mb-5">
                <div class="avatar mx-auto">
                    <img src="/assets/img/Veerle.jpg" class="rounded-circle z-depth-2" alt="Sample avatar">
                </div>
                <h5 class="font-weight-bold mt-4 mb-3">Veerle Vanacker
                </h5>
                <p class="text-uppercase blue-text">
                    <strong>Coordinadora norte</strong>
                </p>
                <p class="grey-text">Interacciones hombre-paisaje en el antropoceno</p>
                <p class="black-text">Université Catholique de Louvain</p>
                <ul class="list-unstyled mb-0">

                    <a class="fa-lg" href="https://www.researchgate.net/profile/Veerle_Vanacker">
                        <mdb-icon fab icon="researchgate  blue-text"></mdb-icon>
                    </a>
                </ul>
            </div>
            <div class="col-lg-2 col-md-6 mb-lg-0 mb-5">
                <div class="avatar mx-auto">
                    <img src="/assets/img/Veerle.jpg" class="rounded-circle z-depth-2" alt="Sample avatar">
                </div>
                <h5 class="font-weight-bold mt-4 mb-3">Veerle Vanacker
                </h5>
                <p class="text-uppercase blue-text">
                    <strong>Coordinadora norte</strong>
                </p>
                <p class="grey-text">Interacciones hombre-paisaje en el antropoceno</p>
                <p class="black-text">Université Catholique de Louvain</p>
                <ul class="list-unstyled mb-0">

                    <a class="fa-lg" href="https://www.researchgate.net/profile/Veerle_Vanacker">
                        <mdb-icon fab icon="researchgate  blue-text"></mdb-icon>
                    </a>
                </ul>
            </div>
            <div class="col-lg-2 col-md-6 mb-lg-0 mb-5">
                <div class="avatar mx-auto">
                    <img src="/assets/img/Veerle.jpg" class="rounded-circle z-depth-2" alt="Sample avatar">
                </div>
                <h5 class="font-weight-bold mt-4 mb-3">Veerle Vanacker
                </h5>
                <p class="text-uppercase blue-text">
                    <strong>Coordinadora norte</strong>
                </p>
                <p class="grey-text">Interacciones hombre-paisaje en el antropoceno</p>
                <p class="black-text">Université Catholique de Louvain</p>
                <ul class="list-unstyled mb-0">

                    <a class="fa-lg" href="https://www.researchgate.net/profile/Veerle_Vanacker">
                        <mdb-icon fab icon="researchgate  blue-text"></mdb-icon>
                    </a>
                </ul>
            </div>
            <div class="col-lg-2 col-md-6 mb-lg-0 mb-5">
                <div class="avatar mx-auto">
                    <img src="/assets/img/Veerle.jpg" class="rounded-circle z-depth-2" alt="Sample avatar">
                </div>
                <h5 class="font-weight-bold mt-4 mb-3">Veerle Vanacker
                </h5>
                <p class="text-uppercase blue-text">
                    <strong>Coordinadora norte</strong>
                </p>
                <p class="grey-text">Interacciones hombre-paisaje en el antropoceno</p>
                <p class="black-text">Université Catholique de Louvain</p>
                <ul class="list-unstyled mb-0">

                    <a class="fa-lg" href="https://www.researchgate.net/profile/Veerle_Vanacker">
                        <mdb-icon fab icon="researchgate  blue-text"></mdb-icon>
                    </a>
                </ul>
            </div>
            <div class="col-lg-2 col-md-6 mb-lg-0 mb-5">
                <div class="avatar mx-auto">
                    <img src="/assets/img/Veerle.jpg" class="rounded-circle z-depth-2" alt="Sample avatar">
                </div>
                <h5 class="font-weight-bold mt-4 mb-3">Veerle Vanacker
                </h5>
                <p class="text-uppercase blue-text">
                    <strong>Coordinadora norte</strong>
                </p>
                <p class="grey-text">Interacciones hombre-paisaje en el antropoceno</p>
                <p class="black-text">Université Catholique de Louvain</p>
                <ul class="list-unstyled mb-0">

                    <a class="fa-lg" href="https://www.researchgate.net/profile/Veerle_Vanacker">
                        <mdb-icon fab icon="researchgate  blue-text"></mdb-icon>
                    </a>
                </ul>
            </div>
        </mdb-slide>

    </mdb-carousel>


</section>











<div class="streak streak-md streak-photo" style="background-image:url('./assets/img/IMG_1161.JPG')">
    <div class="flex-center white-text ">
        <ul class="mb-0 list-unstyled">
            <li>
                <h2 class="h2-responsive"><i class="fas fa-quote-left" aria-hidden="true"></i> Land, then, is not merely
                    soil; it is a fountain of energy flowing through a circuit of soils, plants, and animals. <i
                        class="fas fa-quote-right" aria-hidden="true"></i></h2>
            </li>
            <li class="mb-0">
                <h5 class="text-center font-italic mb-0">Aldo Leopold, A Sand County Almanac, 1949</h5>
            </li>
        </ul>
    </div>
</div>

