<section class="my-5" *ngIf="!ingles">
  <div class="px-5">

    <!-- Grid column -->
    <div class="row">
      <div class="col-md-7">
        <!-- Card -->
        <div class="card card-cascade wider reverse">

          <!-- Card image -->
          <div class="view view-cascade overlay ">
            <img class="card-img-top" src="assets/img/mapa.png" alt="Sample image">

          </div>

          <!-- Card content -->

          <!-- Card content -->

        </div>
      </div>
      <!-- Card -->
      <div class="col-md-5">
        <!-- Excerpt -->
        <div class=" text-center ">

          <!-- Title -->
          <h2 class="font-weight-bold "><a>Sitios de estudio</a></h2>

        </div>

        <p class="mb-2 pb-3 lead grey-text text-justify">En coordinación con las empresas públicas de
          agua, hemos
          seleccionado dos sitios de estudio (“observatorios de suelos”): uno está ubicado en los Andes del
          Norte (cerca de la
          reserva ecológica Antisana) y el otro en los Andes del sur de Ecuador (cerca de la ciudad de
          Cuenca). </p>

        <p class="mb-2 pb-3 lead grey-text text-justify">Los dos sitios tienen una configuración
          topográfica y climática
          similar, pero representan suelos de cenizas volcánicas de diferentes edades. Esto nos permitirá
          evaluar la
          influencia del desarrollo del suelo en las interacciones entre el suelo y el agua. </p>

        <p class="mb-2 pb-3 lead grey-text text-justify">Dentro de cada observatorio de suelos,
          monitorearemos tres
          sitios perturbados o restaurados y dos sitios no perturbados a lo largo de topo-secuencias del
          suelo, o las llamadas
          catenas, que hacen la transición de áreas divergentes y erosionadas a áreas convergentes y
          depositarias. </p>




      </div>


    </div>


    <hr class="mb-5 mt-4">


  </div>
</section>


<section class="my-5" *ngIf="ingles">
  <div class="px-5">

    <!-- Grid column -->
    <div class="row">
      <div class="col-md-7">
        <!-- Card -->
        <div class="card card-cascade wider reverse">

          <!-- Card image -->
          <div class="view view-cascade overlay ">
            <img class="card-img-top" src="assets/img/mapa.png" alt="Sample image">

          </div>

          <!-- Card content -->

          <!-- Card content -->

        </div>
      </div>
      <!-- Card -->
      <div class="col-md-5">
        <!-- Excerpt -->
        <div class=" text-center ">

          <!-- Title -->
          <h2 class="font-weight-bold "><a>Study sites</a></h2>

        </div>

        <p class="mb-2 pb-3 lead grey-text text-justify">In coordination with the public water companies, we have
          selected two study sites (or “soil observatories”): one site is located in the Northern Andes (close to the
          Antisana ecological reserve) and the other in the Southern Ecuadorian Andes (close to the city of Cuenca).</p>

        <p class="mb-2 pb-3 lead grey-text text-justify"> The two sites have a similar topographic and climatic setting,
          but they represent volcanic ash soils of different ages. This will allow us to assess the influence of soil
          development on soil-water interactions. </p>

        <p class="mb-2 pb-3 lead grey-text text-justify"> Within each soil observatory, we will monitor three disturbed
          or restored sites and two undisturbed sites along soil topo-sequences, or so-called catenas, which transition
          from divergent, eroding areas to convergent, depositional areas. </p>




      </div>


    </div>


    <hr class="mb-5 mt-4">


  </div>
</section>