<section>
  <!-- News jumbotron -->
  <div>
   

    <div class="jumbotron text-center hoverable p-4">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-4 offset-md-1 mx-3 my-3">

          <!-- Featured image -->
          <div class="view overlay">
            <img src="https://mdbootstrap.com/img/Photos/Others/laptop-sm.jpg" class="img-fluid"
              alt="Sample image for first version of blog listing">
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-7 text-md-left ml-3 mt-3">

          <!-- Excerpt -->
          <a href="#!" class="green-text">
            <h6 class="h6 pb-1"><i class="fas fa-desktop pr-1"></i> Work</h6>
          </a>

          <h4 class="h4 mb-4">Xiaomi sigue "de cerca" el veto a Huawei pero afirma que no le afecta

             </h4>

          <p class="font-weight-normal">El fabricante tecnológico chino Xiaomi ha señalado este lunes que está "siguiendo de cerca" el veto de Google a Huawei, entre otras compañías estadounidenses, pero ha destacado que esta situación no está "afectando" a la empresa.

             </p>
          <p class="font-weight-normal">Creado por: <a><strong>Gabriel Macias</strong></a>, 19/08/2016</p>

          <a class="btn btn-success " href="https://www.20minutos.es/noticia/3653700/0/xiaomi-caso-huawei-china/#xtor=AD-15&xts=467263">Leer más</a>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->
    </div>
  </div>
  <!-- News jumbotron -->

</section>