<br>




<section class="text-center rgba-cyan-slight" *ngIf="!ingles">

  <!--Section heading-->
  <h2 class="h1 py-5 font-weight-bold">Objetivos específicos</h2>
  <!--Section description-->

  <p class="px-5 mb-2 pb-3 lead grey-text text-justify">En marzo de 2016, se llevó a cabo un taller en Quito para
    identificar las
    necesidades y los desafíos específicos relacionados con la gestión sostenible de los servicios de los
    ecosistemas de agua dulce en los ecosistemas de páramo. </p>
  <p class="px-5 mb-2 pb-3 lead grey-text text-justify">Para poder abordar adecuadamente la sostenibilidad ambiental
    en la
    planificación del desarrollo de los ecosistemas de los Andes Altos, postulamos que las interacciones entre el
    suelo, el agua y la vegetación en diferentes escalas temporales y espaciales deben investigarse exhaustivamente
    en los sitios donde la historia de las intervenciones humanas está bien documentada. </p>
  <p class="px-5 mb-2 pb-3 lead grey-text text-justify">Esto permitirá la generación de la tan necesaria información
    basada en la
    evidencia. Dado el creciente interés en la conservación y restauración de los ecosistemas del páramo altoandino,
    el proyecto no solo estudiará la degradación de los suelos del páramo como resultado de la agricultura y la
    intensificación del pastoreo, sino que también investigará la restauración activa y pasiva de los suelos del
    páramo degradados. </p>
  <p class="px-5 mb-5 pb-3 lead font-weight-bold grey-text ">El proyecto generará cuatro resultados principales para
    cumplir los objetivos específicos.</p>

  <!--Grid row-->
  <div class="row px-5">

    <!--Grid column-->
    <div class="col-md-3">

      <i class="fas fa-search-plus fa-3x pink-text"></i>

      <p class="grey-text mt-3 text-justify">Se incrementa la capacidad de investigación de los socios académicos.
      </p>
    </div>



    <!--Grid column-->
    <div class="col-md-3">

      <i class="fas fa-clipboard-list fa-3x orange-text"></i>

      <p class="grey-text  mt-3 text-justify"> Los protocolos de monitoreo y análisis están estandarizados.
      </p>
    </div>
    <!--Grid column-->
    <div class="col-md-3">

      <i class="fas fa-database fa-3x green-text"></i>

      <p class="grey-text  mt-3 text-justify">Los datos de referencia sobre las interacciones suelo-agua en los
        ecosistemas de páramo están disponibles para sitios de campo representativos.
      </p>
    </div>

    <!--Grid column-->
    <div class="col-md-3">

      <i class="fas fa-handshake fa-3x cyan-text"></i>



      <p class="grey-text mt-3 text-justify">Se fortalecen las relaciones entre los socios académicos y los
        actores involucrados en la gestión de los ecosistemas de páramo.
      </p>
    </div>
    <!--Grid column-->


  </div>
  <!--Grid row-->

</section>


<section class="text-center rgba-cyan-slight" *ngIf="ingles">

  <!--Section heading-->
  <h2 class="h1 py-5 font-weight-bold">Specific objectives</h2>
  <!--Section description-->

  <p class="px-5 mb-2 pb-3 lead grey-text text-justify">In March 2016, a workshop was held in Quito to identify the
    specific needs and challenges related to sustainable management of freshwater ecosystem services in páramo
    ecosystems. </p>
  <p class="px-5 mb-2 pb-3 lead grey-text text-justify">In order to be able to adequately address environmental
    sustainability in development planning of the High Andes ecosystems, we postulate that interactions between soil,
    water and vegetation across different temporal and spatial scales must first be thoroughly investigated at sites
    where the history of human interventions is well documented. </p>
  <p class="px-5 mb-2 pb-3 lead grey-text text-justify"> This will allow generation of the much needed evidence-based
    information. Given the fast-growing interest in conservation and restoration of high Andean páramo ecosystems, the
    project will not only study degradation of páramo soils as a result of agriculture and animal grazing
    intensification, but also to investigate passive and active restoration of degraded páramo soils.</p>
  <p class="px-5 mb-5 pb-3 lead font-weight-bold grey-text ">The project will generate four main results to fulfill the
    specific objectives.</p>

  <!--Grid row-->
  <div class="row px-5">

    <!--Grid column-->
    <div class="col-md-3">

      <i class="fas fa-search-plus fa-3x pink-text"></i>

      <p class="grey-text mt-3 text-justify">The research capacity of the academic partners is increased.
      </p>
    </div>



    <!--Grid column-->
    <div class="col-md-3">

      <i class="fas fa-clipboard-list fa-3x orange-text"></i>

      <p class="grey-text  mt-3 text-justify"> The monitoring and analysis protocols are standardized.
      </p>
    </div>
    <!--Grid column-->
    <div class="col-md-3">

      <i class="fas fa-database fa-3x green-text"></i>

      <p class="grey-text  mt-3 text-justify">Baseline data on soil-water interactions in páramo ecosystems are
        available for representative field sites.
      </p>
    </div>

    <!--Grid column-->
    <div class="col-md-3">

      <i class="fas fa-handshake fa-3x cyan-text"></i>



      <p class="grey-text mt-3 text-justify">The relations between academic partners and actors involved in the
        management of páramo ecosystems are strengthened.
      </p>
    </div>
    <!--Grid column-->


  </div>
  <!--Grid row-->

</section>